.contact_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    list-style: none;
    align-items: center;
}

.contact_list_item {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.contact_btn {
    padding: 5px 20px;
    color: #fff;
    border: 1px solid rgb(0 153 153);
    background-color: rgb(102 204 204);
    border-radius: 5px;
}